
* { /* Formatação Padrão */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1e9d8;
}

html {
    scroll-behavior: smooth; /* rolagem suave ao clicar nos links do menu */
    height: 500vh; /* X Vezes o tamanho da tela */
}
#logo { /* id = logo */
    width: 200px;
    height: auto;
}

.container { /* Container do Menu */
    max-width: 1200px;
    margin: auto;
}

.flex{ /* Alinhar os elementos */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui os elementos nas extremidades*/
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
}

header.rolagem{ /*Estilo Aplicado na Rolagem */
    background-color:#1a1a1a;
    padding: 10px 4%;
}

header.rolagem a{
    color:#f1e9d8;
}

header ul{ /* Manipulação da Lista */
    list-style-type: none;
}

header ul li{ /* Itens dentro da lista */
    display: inline-block;
    margin: 0 40px;
}



header ul li a{
    color: #f1e9d8;
    text-decoration: none;
    font-size: 24px;
}

header ul li a:hover{
    font-weight: bold;
}

.banner{
    height: 100vh;
    background-image: url('img/Barbearia-Background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar{ /* Barra de scroll(Trilho)*/
    width: 10px;
    background: black;
}

::-webkit-scrollbar-thumb{ /* Barra de scroll(Barra)*/
    width: 10px;
    background-size: cover;
    border-radius: 5px;
    background: repeating-linear-gradient(
            45deg,
            #c49a42,
            #c49a42 20px,
            #f1e9d8 20px,
            #f1e9d8 40px
    );
}

.faixa-divisora { /* Divisão da Página*/
    height: 18px;
    width: 100%;
    background: repeating-linear-gradient(
            45deg,
            #c49a42,
            #c49a42 20px,
            #f1e9d8 20px,
            #f1e9d8 40px
    );
}

.moldura {
    border: 1px solid #2a2a2a;
    outline: 3px solid #2a2a2a;
    outline-offset: 8px;
    padding: 40px;
    max-width: 1000px;
    max-height: 1200px;
    display: block;
    margin: 100px auto; /* 100px em cima/baixo, auto nas laterais = centralizado */
}

/*
======================================================
----------------------Botões--------------------------
======================================================
 */
.btn-Contato {
    background-color: #d4a94f; /* cor dourada */
    color: #f1e9d8; /* texto creme */
    border: none;
    padding: 14px 32px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px; /* espaçamento entre as letras */
    border-radius: 6px; /* cantos arredondados */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* sombra sutil pra dar profundidade */
    transition: all 0.2s ease;
}

.btn-Contato:hover {
    background-color: #c49a42; /* tom mais escuro */
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.btn-Contato:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-servicos {
    color: #d4a94f;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 600;
    align-self: center;
    outline: 4px solid #c49a42;
    outline-offset: 10px;
    background: transparent;
    border: none;
    margin-left: 24px; /* Espaçamento do botao*/
}

.btn-servicos:hover {
    transform: translateY(-2px);
    background: transparent;
    border: none;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.btn-servicos:active {
    transform: translateY(-2px);
}

/*
======================================================
-------------------- Imagens -------------------------
======================================================
 */
.sobre__imagem {
    display: flex;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    justify-content: center;
    box-sizing: border-box;
    height: 195px;
    width: 300px;
}

.footer__logo{
    border-radius: 50%;
    display:block;
    height: 70px;
    width: 70px;
}

/*
======================================================
----------------------Textos--------------------------
======================================================
 */

/*======================================================*/
.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.crimson-text-semibold {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
}

.crimson-text-bold {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
}

.crimson-text-regular-italic {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: italic;
}

.crimson-text-semibold-italic {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: italic;
}
/*======================================================*/

.crimson-text-bold-italic {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: italic;
}


.hero__slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 35%;
}

.hero__actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

/* ============================================
   6. SEÇÃO SOBRE
============================================ */
.sobre {
    padding: 100px 0;
}

.sobre__grid {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 60px;
    align-items: center;
}

.sobre__texto p {
    margin-bottom: 16px;
}

.sobre__imagem img {
    border-radius: 4px;
    border: 1px solid rgba(201,164,92,0.3);
}

/* ============================================
   7. SERVIÇOS
============================================ */
.servicos {
    padding: 100px 0;
}

.servicos__grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.card-servico {
   background-color: #f1e9d8;
    border: 1px solid rgba(201,164,92,0.2);
    padding: 32px 24px;
    text-align: center;
    border-radius: 4px;
    transition: .5s ease;
}
.card-servico:hover {
    /*border-color: var(--cor-dourado);*/
    transform: translateY(-4px);
}
.card-servico h3 {
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    /*color: var(--cor-creme);*/
}
.card-servico p {
    /*color: var(--cor-cinza);*/
    font-size: 0.9rem;
    margin-bottom: 16px;
}
.card-servico__preco {
    /*font-family: var(--fonte-script);*/
    font-size: 1.4rem;
    /*color: var(--cor-dourado);*/
}